<div class="col-xl-3 col-sm-6 mb-3">
  <div class="card <%= taks_row_class(task) %> o-hidden h-100">
    <div class="card-header">
      <%= icon('fas','clipboard-list', t('.card.title'), class: 'fa-fw h5 mb-0') %>
    </div>
    <div class="card-body">
      <div class="card-body-icon">
        <%= icon('fas','clipboard-list', class: 'fa-fw') %>
      </div>
      <div class="mr-5"><%= t('.card.name_project', project_name: task.project.name) %></div>
      <div class="mr-5"><%= t('.card.name', task_name: task.name) %></div>
    </div>
    <%=link_to(project_task_path(id: task, project_id: task.project.id), class: "card-footer #{taks_row_class(task)} clearfix small z-1") do%>
      <span class="float-left"><%= t('.card.details') %></span>
      <span class="float-right">
        <%= icon('fas','angle-right') %>
      </span>
    <% end %>
  </div>
</div>
