<div class="card mb-3 bg-light ">
  <div class="card-header h3">
    <%= icon('fas','project-diagram', t('.title', project_name: @project.name), class: 'fa-fw h2 mb-0') %>
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-sm-12">
        <canvas id="pieChartStatus"></canvas>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div class="progress" style="height: 30px">
          <div class="progress-bar bg-success" style="width: <%= 100 - @data[:tasks][:late] %>%;">No praso <%= 100 - @data[:tasks][:late] %>%</div>
          <div class="progress-bar bg-danger" style="width: <%= @data[:tasks][:late] %>%;">Em atraso <%= @data[:tasks][:late] %>%</div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th> Avatar </th>
            <th> Nome </th>
            <th> Em progresso </th>
            <th> Entregues </th>
            <th> Atrasos </th>
            <th> Total </th>
          </tr>
        </thead>
        <tbody>
          <% @project.users.each do |user| %>
            <tr>
              <td> <%= image_tag(user.image, class: "avatar-image avatar-image-list") %> </td>
              <td> <%= user.name %> </td>
              <td> <%= @project.tasks.in_progress.where(user_id: user.id).count %> </td>
              <td> <%= @project.tasks.done.where(user_id: user.id).count %> </td>
              <td> <%= @project.tasks.late_count.where(user_id: user.id).count %> </td>
              <td> <%= @project.tasks.where(user_id: user.id).count %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
var pieChartStatus = document.getElementById("pieChartStatus").getContext('2d');
var myPieChart = new Chart(pieChartStatus, {
  type: 'doughnut',
  data: {
    labels: ["Iniciados", "Completos", "Não iniciados"],
    datasets: [{
      data: <%= [ @data[:tasks][:in_progress], @data[:tasks][:done], @data[:tasks][:not_started] ] %>,
      hoverBackgroundColor: ["#7DCD85", "#84DD63", "#243E36"],
      backgroundColor: ["#7DCD85", "#84DD63", "#243E36"]
    }]
  },
  options: { responsive: true }
});
</script>
